@model cliphostingsite.Models.userModel

@{
    ViewBag.Title = "Profile";
}

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Content/main.css" rel="stylesheet">
    @Styles.Render("~/Content/bootstrap.min.css")
</head>

<h2>Profile</h2>

<div>
    <h4>Profile</h4>
    <hr />
    <div id="username">@Session["username"]</div>
    <br />
    <br />
    <div id="avatar"><img src="~/Content/avatars/@Session["avatar"]" /></div>
    <br />
    <br />
    <div id="email">@Session["email"]</div>
    <br />
    <br />
    <div id="passworddiv">
        <button id="changepwbutton">Change Password</button>
    </div>
    <br />
    <br />
    @if (!string.IsNullOrEmpty(Session["errormsg"] as string))
        {
        Session["errormsg"].ToString();
        }


    <script>
        $('#username').click(function () {
            var name = $(this).text();
            $(this).html('');
            $('<input></input>')
                .attr({
                    'type': 'text',
                    'name': 'username',
                    'id': 'txt_username',
                    'size': '30',
                    'value': name
                })
                .appendTo('#username');
            $('#txt_username').focus();
        });




        $(document).on('blur', '#txt_username', function () {
            var username = $(this).val();
            $.ajax({
                type: 'post',
                url: '/clip/changeUsername',
                data: username,
                success: function () {
                    $('#username').text(username);
                    alert("Username has been changed")
                }
            });
        });
    </script>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
