@model cliphostingsite.Models.profileModel
@{
    ViewBag.Title = "Profile";
}

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Content/main.css" rel="stylesheet">
    @Styles.Render("~/Content/bootstrap.min.css")

    <script>
        $('#username').click(function () {
            var name = $(this).text();
            $(this).html('');
            $('<input></input>')
                .attr({
                    'type': 'text',
                    'name': 'username',
                    'id': 'txt_username',
                    'size': '30',
                    'value': name
                })
                .appendTo('#username');
            $('#txt_username').focus();
        });




        $(document).on('blur', '#txt_username', function () {
            var username = $(this).val().toString();
            console.log(username)
            UsernameDic =
            {
                "username": username.toString(),
            }
            $.ajax({
                type: 'POST',
                url: '/clip/changeUsername',
                dataType: 'JSON',
                contentType: "application/json; charset=utd-8",
                data: JSON.stringify(UsernameDic),
                success: function (data) {
                    if (data) {
                        $('#username').text(username);
                        alert("Username has been changed")
                    }
                    else {
                        alert("An error has occured, please try again")
                    }
                }
            });
        });
    </script>

    <script>
        function uploadAvatar() {
            console.log("test")
            var pfp_file = $("#imgupload").prop("files")[0];
            var form_data = new FormData();
            form_data.append(pfp_file.name, pfp_file)
            $.ajax({
                type: 'POST',
                url: '/clip/changeAvatar',
                data: form_data,
                contentType: false,
                processData: false,
                success: function () {
                    $('#avatar').src = "~/Content/avatars/@Session["avatar"]";
                    $('#navbar_avatar').src = "~/Content/avatars/@Session["avatar"]"
                    alert("Avatar has been changed");
                }
            });
        };
    </script>

</head>

<h2>Profile</h2>

<div>
    <h4>Profile</h4>
    <hr />
    <div id="username">@Session["username"]</div>
    <br />
    <br />
    <div>
        <label for="imgupload"class="btn">Change avatar</label>
        <input type="file" id="imgupload" style="visibility:hidden" accept="image/*" onchange="uploadAvatar()" /></>
    </div>
    <div id="avatar"><img src="~/Content/avatars/@Session["avatar"]" /></div>
    <br />
    <br />
    <div id="email">@Session["email"]</div>
    <br />
    <br />
    <div id="passworddiv">
        <button id="changepwbutton">Change Password</button>
    </div>
    <br />
    <br />
    @if (!string.IsNullOrEmpty(Session["errormsg"] as string))
    {
        Session["errormsg"].ToString();
    }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
